
text-files-and-scripts/ch02/byState

text-files-and-scripts/ch02/list

text-files-and-scripts/ch02/nameState

text-files-and-scripts/ch03/bookwords

text-files-and-scripts/ch03/gres

text-files-and-scripts/ch04/do.outline

text-files-and-scripts/ch04/format

text-files-and-scripts/ch04/getmac1
